<a href="https://colab.research.google.com/github/Aniketraj19/Machine-Learning-Projects/blob/main/DiabetesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn import svm                           #support vector machine
from sklearn.model_selection import train_test_split

Data collection and analysis

In [66]:
diabetes_data = pd.read_csv('/content/diabetes.csv')

In [67]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [68]:
diabetes_data.shape

(768, 9)

In [69]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [70]:
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0--> Non-diabetic
1--> Diabetic

In [71]:
diabetes_data.groupby('Outcome').mean()    #it gives the mean values according to the Outcome column that is is the person is diabetic or not

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [72]:
X = diabetes_data.drop(columns = 'Outcome',axis = 1)
Y = diabetes_data['Outcome']

In [73]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Preprocessing and Standardizing

In [74]:
scaler = StandardScaler()

we do this so that tha values of the data are in a particular range so that tha machine do not find it difficult to predict the result

In [75]:
scaler.fit(X)

StandardScaler()

In [76]:
standardized_data = scaler.transform(X)

In [77]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [78]:
X = standardized_data
Y = diabetes_data['Outcome']

In [79]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify =Y , random_state =2)

In [80]:
print(X.shape , X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the data using the support vector machine

In [81]:
#classifier is a variable which is loaded with a support vector classifier from the support vector machine
classifier = svm.SVC(kernel = 'linear')

In [82]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [83]:
#Accuracy of training part the model
X_train_prediction = classifier.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction,Y_train)
print(train_data_accuracy)

0.7866449511400652

In [84]:
#Accuracy of test part the model
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)
print(test_data_accuracy)

0.7727272727272727

Making a Predictive System

In [87]:
input_data = (2,110,74,29,125,32.4,0.698,27)

#converting the data into a numpy array
input_data_array = np.asarray(input_data)

#reshaping the data for the machine
reshaped_data = input_data_array.reshape(1,-1)

#standardizing the data
std_data = scaler.transform(reshaped_data)

#predicting the outcome
prediction = classifier.predict(std_data)

print(prediction)

if(prediction[0]== 0):
  print("The person is Non-diabetic")
else:
  print("The person is Diabetic")

[0]
The person is Non-diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"